@import url('https://fonts.googleapis.com/css?family=Hind|Open+Sans&display=swap');

html {
    /*** Background Colours ***/
    --primary-a:#37474f;
    --primary-b:#62727b;
    --secondary-a:#bcbcbc;
    --secondary-b:#eeeeee;
    --background: #ffffff;
    --error: #b00020;
    /*** Background Colours ***/

    /*** Foreground Colours ***/
    --on-primary: #ffffff;
    --on-secondary: #000000;
    --on-background:#222222;
    --on-error: #ffffff;
     /*** Foreground Colours ***/

     /*** Font Sets ***/
     --font-body: 'Hind', Helvetica, Arial, Georgia, sans-serif;
     --font-impact: 'Open Sans', Helvetica, Arial, Georgia, sans-serif;
     /*** Font Sets ***/
}

body {
    background-color: var(--background);

    /* font-weight: normal;
    font-style: normal;
    font-size: 1em;
    font-family: var(--font-body);
    line-height:1.4; */

    font: normal normal 1em/1.4 var(--font-body);
    color: var(--primary-a);
}

h1, h2, h3, h4 {
    font-family: var(--font-impact);
    text-align: center;
}

h1, h2, h3 { 
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    background-color:#102027;
    font-size: 1.5em;
}

h2 {
    background-color: var(--secondary-a);
}

h3 {
    background-color: var(--secondary-b);
}

h4 {
    line-height: 2em;
    color: var(--on-background);
}

header {
    background-color: var(--primary-a);
    color: var(--on-primary);
    text-align: center;
}

nav {
    color: var(--secondary-a);
}

.navbar {
    color: var(--on-primary);
    margin-left: 1em;
    margin-right: 1em;
    line-height: 2em;
    width: auto 100%;
}

a {
    text-decoration: none; 
}

a:hover {
    color: var(--on-secondary);
}

ul {
    list-style: none;
}

ul.center-this {
    padding-right: 1em;
}

footer {
    background-color: var(--primary-b);
    text-align: center;
    color: var(--on-primary);
    margin-top: 1em;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0;
}

.footer-bar {
    color: var(--on-primary);
    margin-left: 1em;
    margin-right: 1em;
    line-height: 2em;
}

.font-color p {
    text-align: center;
    color: var(--primary-b);
}

.font-color a {
    color: var(--primary-b);
    text-align: center;
}

 .font-color a:hover {
    color: var(--on-secondary);
 }

.semester {
    color: var(--primary-b);
    text-align: left;
}

p {
    padding-left: 2em;
    padding-right: 2em;
}

.center-this {
    text-align: center;
}

.program-description {
    border-bottom: 1px solid var(--secondary-a);

}

/*** For Big Screen
.semester section {
    display: inline-block;
    align-content: center;
}

.navbar {
    display: grid;
    grid-template-columns: 3em auto 3em;
    grid-template-areas: 
    "hamb logo cart"
    "srch srch srch"
    "menu menu menu";
}

.hamb {
    grid-area: hamb;
}
.logo {
    grid-area: logo;
    justify-self: center;
}
.srch {
    grid-area: srch;
    border: none;
    border-radius: 1em;
    background-color: var(--background);
    margin: 0 1em;
    background-image: url(/img/search.svg;
    background-repeat: no-repeat;
    background-position: o.5em -0.25em;
    padding: o.5em;
    padding-left: 2em;
}
.srch::placeholder {
    color: #aaa;
.cart {
    grid-area: cart;
}
.menu {
    grid-area: menu;
}

For Big Screen ***/