@import url('https://fonts.googleapis.com/css?family=Hind|Open+Sans&display=swap');

html {
    /*** Background Colours ***/
    --primary-a:#3f51b5;
    --primary-b:#a094b7;
    --secondary-a:#737aba;
    --secondary-b:#fff7ff;
    --background: #ffffff;
    --error: #b00020;
    /*** Background Colours ***/

    /*** Foreground Colours ***/
    --on-primary: #ffffff;
    --on-secondary: #000000;
    --on-background:#222222;
    --on-error: #ffffff;
     /*** Foreground Colours ***/

     /*** Font Sets ***/
     --font-body: 'Hind', Helvetica, Arial, Georgia, sans-serif;
     --font-impact: 'Open Sans', Helvetica, Arial, Georgia, sans-serif;
     /*** Font Sets ***/
}

body {
    background-color: var(--background);

    /* font-weight: normal;
    font-style: normal;
    font-size: 1em;
    font-family: var(--font-body);
    line-height:1.4; */

    font: normal normal 1em/1.4 var(--font-body);
    color: var(--on-background);
}

h1, h2, h3, h4 {
    font-family: var(--font-impact);
}

h1, h2, h3 {
    text-align: center;
}

header {
    background-color: var(--primary-a);
    color: var(--on-primary);
    text-align: center;
}

nav {
    color: var(--on-primary);
}

.navbar {
    color: var(--on-primary);
}

a {
    text-decoration: none; 
}

ul {
    list-style: none;
}

footer {
    background-color: var(--secondary-a);
}